asgiref==3.7.2
Django==3.2.16
django-stubs==4.2.7
django-stubs-ext==4.2.7
django_debug_toolbar==3.8.1
mypy==1.7.1
mypy-extensions==1.0.0
pytz==2024.1
sqlparse==0.4.4
tomli==2.0.1
types-pytz==2024.1.0.20240203
types-PyYAML==6.0.12.20240311
typing_extensions==4.10.0
